main#risyuu {
  margin-bottom: 2rem;
  border: solid 0.5rem #f0f0f0;
}

:is(#risyuu_header, #risyuu_footer) {
  padding: 0.5rem;
  color: white;
  background-color: #5a9674;
}

#left{
    font-size: 0.90em;
    float: left;
    width: 50%;
}

#right{
    font-size: 0.90em;
    float: right;
    width: 50%;
}